
.heading{
    
    font-size: 35px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding-bottom: 19px;
    padding-top: 0;
}


.table1{
    display: inline-block;
    width: 60%;
    height: 500px;
    margin-left: 35px;
    background-color: #8ecae6;
    color: black;
    font-weight: 600;
    
}
table, th, td {
    border: 1px solid black;
    padding: 2px;
  }

 tr:hover {background-color: rgba(110, 170, 233, 0.847);}



a:link, a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.bio {
    width: 28%;
    float: right;
    margin-right: 70px;
    margin-top: 50px;
    border-radius: 50%;
    animation: float 2s ease-in-out infinite;
}
